// $bp-mobile:28em;
// $bp-mini-mobile:22em;
// $bp-top-mobile:18.75em;

html {
  font-size: 62.5%; // 10px
  font-family: "League Spartan", sans-serif;

  // @media screen and(max-width: 28em) {
  //   font-size: 50%; // 10px
  // }
  // @media screen and (max-width: 18.75em) {
  //   font-size: 40%; // 10px
  // }
}

body {
  box-sizing: border-box;
  background-color: rgba(58, 70, 99, 1);

  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
